img{
    width:200px;
    border-radius: 100px;
    border:solid 10px #844111;
    margin-left:90px;
    margin-top:40px;
    box-shadow:0 0 0 10px white;
}
#col1{
    background-color: black;
    height:1000px;
}
#box1{
    background-color: white;
    margin-left: 2px;
    height: 40px;
    width:170px;
    margin-top:40px;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}
#p1{
    margin-left: 20px;
    margin-top: 4px;
    font-size: 21px;
}
#head1{
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 4px;
    color:aliceblue;
    font-size: 18px;
}
#para1{
    margin-left: 25px;
    margin-top: 1px;
    color:aliceblue;
}
ul{
    margin-top: 15px;
    color:aliceblue;
}
#box2{
    background-color: white;
    margin-left: 2px;
    height: 40px;
    width:170px;
    margin-top:10px;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}
#box3{
    background-color: white;
    margin-left: 2px;
    height: 40px;
    width:170px;
    margin-top:10px;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
}
#intro{
    background-color: #FAF7F7;
    margin-top: 100px;
    margin-left:85px ;
    height: 100px;
    width:250px;
}
#name{
    font-size: 30px;
}
#box4{
    background-color: #744D31;
    margin-left: 85px;
    margin-top: 60px;
    width:150px;
    height: 50px;
}
#p2{
    margin-left: 25px;
    margin-top:8px;
    font-size: 21px;
}

